@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('styles/card.css');
@import url('styles/btn.css');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-image: linear-gradient(
		to right top,
		#051937,
		#004d7a,
		#008793,
		#00bf72,
		#a8eb12
	);
	width: 100vw;
	height: 100vh;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
