@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('styles/card.css');
@import url('styles/btn.css');
@import url('styles/utils.css');
@import url('styles/form.css');
@import url('styles/loader.css');
@import url('styles/header.css');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-image: linear-gradient(to right, #0b8793, #360033);
	width: 100vw;
	height: 100vh;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: 'Roboto', sans-serif;
}

.content {
	padding-top: 100px;
}

.container {
	padding: 20px;
}

.posts_container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.post_container {
	flex: 1;
}

.post_container_left {
	flex: 0.7;
}

.post_container_right {
	flex: 0.3;
}

.post_back {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.post_description {
	font-size: 20px;
	line-height: 24px;
}

.create_comment {
	display: block;
	font-weight: bold;
	outline: none;
	border: none;
	width: 100%;
	border-radius: 4px;
	font-size: 16px;
	padding: 20px;
	background: #e4e7ee;
	color: #748194;
}

.comment_container {
	padding: 20px;
	border-radius: 8px;
	background: #e4e7ee;
}

.comment_username {
	font-size: 16px;
	font-weight: 700;
}

.comment {
	font-size: 20px;
	font-weight: 400;
}

.trash {
	cursor: pointer;
	font-size: 32px;
	font-weight: 400;
	color: red;
}

.navbar_username {
	font-size: 28px;
	font-weight: 700;
}

.like {
	cursor: pointer;
	font-size: 24px;
	color: red;
}

.like_count {
	font-size: 24px;
	font-weight: 700;
}
