.btn_primary {
	border: none;
	outline: none;
	padding: 0.8rem 2rem;
	border-radius: 50px;
	font-size: 1.2rem;
	color: white;
	background: linear-gradient(90deg, #ff9966, #ff5e62);
	box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
	transition: all 0.2s ease-in;
	text-decoration: none;
}

.btn_primary:hover {
	box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}
