.page {
	height: 100vh;
	width: 100vw;
}

.center_vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center_horizontal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.spacer_vertical {
	display: flex;
	flex-direction: column;
}

.spacer_vertical > *:not(:last-child) {
	margin-bottom: 40px;
}

.spacer_vertical_small {
	display: flex;
	flex-direction: column;
}

.spacer_vertical_small > *:not(:last-child) {
	margin-bottom: 16px;
}

.spacer_horizontal {
	display: flex;
}

.spacer_horizontal > *:not(:last-child) {
	margin-right: 20px;
}
